.d-welcome-section{
    background-color: #153D77;
    color: white;
    padding: 33px 31px 85px;
    font-size: 17px;
}

.d-card-block{
    margin-top: -46px;
    margin-left: 10px;
}
.d-card-money-symbol{
    float: right;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    background-color: #153d77;
    padding: 1px 3px 2px 3px;
    border-radius: 30px;
    width: 24px;
    height: 26px;
    text-align: center;

}

.d-category-heading{
    font-size: 15px;
    font-weight: 500;
    color: #153d77;
}

.d-h3{
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 14px;
    font-family: Jost,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-weight: 500;
}
.d-money{
    margin-bottom: 0;
    font-size: 22px;
    color: #153d77;
    font-weight: 300;
}
.d-cust-card{
    margin-bottom: 7px;
}