.d-welcome-section{
    background-color: #153D77;
    color: white;
    padding: 33px 31px 85px;
    font-size: 17px;
}

.d-card-block{
    margin-top: -46px;
    margin-left: 10px;
}
.d-card-money-symbol{
    float: right;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    background-color: #153d77;
    //padding: 1px 3px 2px 3px;
    padding: 0px 3px 2px 2px;
    border-radius: 30px;
    width: 24px;
    height: 26px;
    text-align: center;

}

.d-category-heading{
    font-size: 15px;
    font-weight: 500;
    color: #153d77;
}

.d-h3{
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 14px;
    font-family: Jost,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-weight: 500;
}
.d-money{
    margin-bottom: 0;
    font-size: 20px;
    color: #153d77;
    font-weight: 300;
}
.d-cust-card{
    margin-bottom: 7px;
    cursor: pointer;
    overflow: hidden;
}

.d-selected-card{
    background-color: #ececf1;
}
.d-unselected-card{
    background-color: white;
}

.d-text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
}


.d-cashflow-report-card-box{
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #efefef;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.d-no-margin{
    margin: 2px 0 0px;
}
.d-cashflow-report-card-money{
    color: #153d77;
    font-weight: 500;
    margin-left: 9px;
    font-size: 17px;
}

.d-mat-icon-size{
    font-size: 19px;
    color: #9f3ea3;
}

.d-cashflow-category-header{
    margin-bottom: 10px;
    color: #9f3ea3;
    text-decoration: underline;
    font-weight: 500;
}