<section fxLayoutAlign="center center" class="signin-section">
    <div fxFlex.gt-xs="400px" fxFlex.xs="300px">
        <mat-card>

            <form fxLayout="column" [formGroup]="signInForm" (ngSubmit)="doLogin()">
                <mat-form-field appearance="legacy">
                    <mat-label>Email Id</mat-label>
                    <input type="email" matInput placeholder="Enter email id" formControlName="emailId">
                    <mat-error *ngIf="signInForm.get('emailId')?.hasError('required')">Enter email id</mat-error>
                    <mat-error *ngIf="!signInForm.get('emailId')?.hasError('required')">Email id is not registered</mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Enter password" formControlName="password">
                    <mat-error *ngIf="signInForm.get('password')?.hasError('required')">Enter password</mat-error>
                    <mat-error *ngIf="!signInForm.get('password')?.hasError('required')">Wrong psasword</mat-error>
                </mat-form-field>

                <p class="signin-forgotpassword">Forgot password</p>
                <button mat-raised-button color="primary" [disabled]="signInForm.invalid">Log In</button>

                <p class="signin-dont-acount">Don't have account? <span class="signin-signup-span" color="primary" (click)="goToSignup()">Sign up</span></p>
            </form>

        </mat-card>
    </div>
</section>

